extends layout
block content
	div.category
		div.hero
			img(src=category.background)
			h1= category.name
		if items.length
			ul
				each item in items
					li
						a(href=`/item/${item.id}`)
							img(src=item.thumbnail)
							p.price= item.price
		else
			p No items in this category yet
		a.delete-category(href=`/categories/delete/${category.id}`) Delete Category
